WATCHDOG_MODE=observe
WATCHDOG_RUNTIME_DIR=/var/lib/host-observability-pack/watchdog
WATCHDOG_DOCKER_BIN=/usr/bin/docker
WATCHDOG_LOAD_WARN=8
WATCHDOG_LOAD_HARD=8
WATCHDOG_DSTATE_WARN=2
WATCHDOG_DSTATE_HARD=3
WATCHDOG_SWAP_WARN_RATIO=0.90
WATCHDOG_DOCKER_WARN_SECONDS=2
WATCHDOG_DOCKER_TIMEOUT_SECONDS=5
WATCHDOG_BTRFS_COMMIT_WARN_SECONDS=10
WATCHDOG_RECOVERY_STREAK=5
WATCHDOG_SNAPSHOT_REPEAT_SECONDS=1800
WATCHDOG_PROBE_TIMEOUT_SECONDS=3
WATCHDOG_TEMP_WARN_C=85
WATCHDOG_FILESYSTEMS=/
WATCHDOG_FILESYSTEM_WARN_RATIO=0.90
WATCHDOG_UPSC_BIN=
WATCHDOG_SYSTEMCTL_BIN=
WATCHDOG_CGROUP_ROOT=/sys/fs/cgroup
WATCHDOG_OOM_WINDOW_SECONDS=1800
WATCHDOG_OOM_RECURRING_KILLS=2
